.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  text-transform: capitalize;
  cursor: pointer;
}

.block {
  width: 12rem;
  height: 6rem;
  background-color: #0066ff;
  border-radius: 0.5rem;
}
